<div class= "website-background">

  <div class="container text-center border-black">

    <div class="text-center">

      <form class="d-flex pt-4 w-50 mx-auto mb-4" action="/" accept-charset="UTF-8" method="get">
        <input class="form-control me-2" type="text" name="search[query]" id="search_query" placeholder="Describe your dream activity with your favorite star...">
        <button class="btn btn-only-stars-blue" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
      </form>

    </div>

  </div>
<div class="container icon-categories">
  <div class="row text-center g-3">

    <!-- Influencers -->
    <div class="col-auto">
      <ul class="list icons d-flex justify-content-center">
        <li>
          <img
            src="https://em-content.zobj.net/source/apple/391/selfie_medium-skin-tone_1f933-1f3fd_1f3fd.png"
            alt="Influence emoji"
            class="category-icon">
          <p class="text-center mt-2 fw-bold">Influencers</p>
        </li>
      </ul>
    </div>

    <!-- Champions -->
    <div class="col-auto">
      <ul class="list icons d-flex justify-content-center">
        <li>
          <img
            src="https://em-content.zobj.net/source/apple/391/man-lifting-weights-medium-light-skin-tone_1f3cb-1f3fc-200d-2642-fe0f.png"
            alt="Sport emoji"
            class="category-icon">
          <p class="text-center mt-2 fw-bold">Champions</p>
        </li>
      </ul>
    </div>

    <!-- Actors -->
    <div class="col-auto">
      <ul class="list icons d-flex justify-content-center">
        <li>
          <img
            src="https://em-content.zobj.net/source/apple/391/clapper-board_1f3ac.png"
            alt="Actor emoji"
            class="category-icon">
          <p class="text-center mt-2 fw-bold">Actors</p>
        </li>
      </ul>
    </div>

    <!-- Singers -->
    <div class="col-auto">
      <ul class="list icons d-flex justify-content-center">
        <li>
          <img
            src="https://em-content.zobj.net/source/apple/391/microphone_1f3a4.png"
            alt="Chanteur emoji"
            class="category-icon">
          <p class="text-center mt-2 fw-bold">Singers</p>
        </li>
      </ul>
    </div>

    <!-- Politicians -->
    <div class="col-auto">
      <ul class="list icons d-flex justify-content-center">
        <li>
          <img
            src="https://em-content.zobj.net/source/apple/391/classical-building_1f3db-fe0f.png"
            alt="Politique emoji"
            class="category-icon">
          <p class="text-center mt-2 fw-bold">Politicians</p>
        </li>
      </ul>
    </div>

    <!-- Comedians -->
    <div class="col-auto">
      <ul class="list icons d-flex justify-content-center">
        <li>
          <img
            src="https://em-content.zobj.net/source/apple/391/performing-arts_1f3ad.png"
            alt="Humour emoji"
            class="category-icon">
          <p class="text-center mt-2 fw-bold">Comedians</p>
        </li>
      </ul>
    </div>

  </div>
</div>




  <div id="allcards" class="container mt-4">

    <div class="row justify-content-center gy-4">

      <% @celebrities.each do |celebrity|%>

        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">

          <div class="card" style="width: 18rem;">

            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title"><%= celebrity.name %></h5>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= celebrity.price_per_hour %></li>
              <li class="list-group-item"><%= celebrity.location %></li>
            </ul>

            <div class="card-body">
              <%= link_to "Voir plus", celebrity_path(celebrity) %>
              <%= link_to "Réserver", new_celebrity_booking_path(celebrity) %>
            </div>

          </div>

        </div>

      <% end %>

    </div>
  </div>
</div>
