<div class="container my-5 d-flex justify-content-center">
  <div class="card shadow-sm" style="border-radius: 15px; max-width: 900px; width: 100%;">
    <div class="card-body p-5">
      <%# <h2 class="card-title text-center mb-4"><%= @celebrity.name %></h2>
      <%# <% @celebrity.photos.each do |photo| %>
        <%# <%= cl_image_tag photo.key %>
      <%# <% end %>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <% @celebrity.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= cl_image_tag photo.key, class: "show-img d-block mx-auto", crop: "thumb", gravity: "face" %>
      </div>
    <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

      <p class="card-text"><strong>Rating:</strong> <%= @celebrity.rating %> / 5</p>
      <p class="card-text"><strong>Un mot de ta star:</strong> <%= @celebrity.word%></p>
      <p class="card-text"><strong>Prix à l'heure:</strong> <%= @celebrity.price_per_hour %> €</p>
      <p class="card-text"><strong>Localisation:</strong> <%= @celebrity.location %></p>
      <div class="d-flex justify-content-center mt-4">
        <%= link_to "Réserver", new_celebrity_booking_path(@celebrity), class: "btn btn-primary me-2" %>
        <%= link_to "Retour", celebrities_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
