<%= simple_form_for([@celebrity, @booking]) do |f| %>
  <div class="container my-5 d-flex justify-content-center" data-controller="datepicker">
    <div class="card shadow-sm" style="border-radius: 15px; max-width: 800px; width: 100%;">
      <div class="card-body p-5">
        <h2 class="card-title text-center mb-4">
          Réservation <strong><%= @celebrity.name %></strong>
        </h2>

        <!-- Select an activity -->
        <div class="mb-3">
          <%= f.label :activity, "Select an activity", class: "form-label" %>
          <%= f.collection_select :activity, [
            ["Course à cheval au coucher de soleil", "Course à cheval au coucher de soleil"],
            ["Apparition dans un anniversaire", "Apparition dans un anniversaire"],
            ["Mcdo ensemble", "Mcdo ensemble"],
            ["Rendre visite à ma mamie", "Rendre visite à ma mamie"],
            ["M'apprendre AJAX dans rails", "M'apprendre AJAX dans rails"],
            ["Débat philosophique avec mon chat", "Débat philosophique avec mon chat"],
            ["Atelier: construction d'un château de sable", "Atelier: construction d'un château de sable"]
          ], :first, :last, { prompt: "Select an activity" }, { class: "form-control" } %>
        </div>

        <!-- Price per hour -->
        <div class="row mb-3 align-items-center">
          <div class="col-6 text-end">
            <%= f.label :price_per_hour, "Price per hour", class: "form-label mb-0" %>
          </div>
          <div class="col-6 text-start">
            <p class="form-control-plaintext mb-0"><%= @celebrity.price_per_hour %> €</p>
          </div>
        </div>

        <!-- Date start -->
        <div class="mb-3">
          <%= f.input :date_start, as: :string, label: "Start Date", input_html: { class: "form-control", data: { datepicker_target: "start" } } %>
        </div>

        <!-- Date end -->
        <div class="mb-3">
          <%= f.input :date_end, as: :string, label: "End Date", input_html: { class: "form-control", data: { datepicker_target: "end", action: "change->datepicker#trigger" } } %>
        </div>

        <!-- Total price -->
        <div class="row mb-3 align-items-center">
          <div class="col-6 text-end">
            <%= f.label :total_price, "Total price", class: "form-label mb-0" %>
          </div>
          <div class="col-6 text-start">
            <p class="form-control-plaintext mb-0"
               data-price="<%= @celebrity.price_per_hour %>"
               data-datepicker-target="price">€</p>
          </div>
        </div>

        <!-- Submit button -->
        <div class="d-flex justify-content-center mt-4">
          <%= f.submit "Réserver", class: "btn btn-primary me-2" %>
          <%= link_to "Retour", celebrities_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
