<div class="container my-5">
  <div style="border-radius: 16px; overflow: hidden;">
    <h2 class="text-center my-4">Demandes de réservation de <%= @celebrity.name %></h2>
      <div class="table-responsive">
        <% if @bookings.any? %>
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Photo</th>
            <th>Nom</th>
            <th>Activité</th>
            <th>Utilisateur<th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
          <tr>
            <!-- Photo -->
              <td>
                <img src="<%= booking.celebrity.images %>"
                   alt="Image de réservation"
                   class="rounded"
                   style="width: 64px; height: 64px; object-fit: cover;">
                </td>
            <!-- Nom -->
              <td><%= booking.celebrity.name %></td>
            <!-- Activité -->
              <td><%= booking.activity %></td>
            <!-- Utilisateur -->
              <td><%= booking.user_id %></td>
            <!-- Statut -->
              <td>
                <span class="badge
                  <%= booking.status == 'pending' ? 'bg-warning text-dark' :
                      booking.status == 'accepted' ? 'bg-success' : 'bg-danger' %>">
                  <%= booking.status.capitalize %>
                </span>
              </td>
            <!-- Action -->
              <td>
                <%= link_to "accepted", celebrity_accept_path(id: booking.id),
                           class: "btn btn-success btn-sm",
                           data: { turbo_method: "PATCH" } %>
                <%= link_to "refused", celebrity_refuse_path(id: booking.id),
                           class: "btn btn-danger btn-sm",
                           data: { turbo_method: "PATCH" } %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="text-center">
        <p>Aucune réservation trouvée pour cette célébrité.</p>
      </div>
    <% end %>
  </div>
</div>
</div>
