<div class="container my-5">
  <div style="border-radius: 16px; overflow: hidden;">
    <!-- Bannière -->
    <div class="card-category"
         style="background: linear-gradient(rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.01)),
                url('<%= asset_path("banner_fond.png") %>');
                background-size: cover;
                background-position: center;
                color: black;
                padding: 20px;
                font-size: Nunito, Helvetica, sans-serif;">
      <h2 class="text-center my-5 content-font fw-bold">Demandes de réservations</h2>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-hover mb-0">
      <thead class="table-light">
        <tr class="fs-5 content-font">
          <th>#</th>
          <th>Photo</th>
          <th>Célébrité</th>
          <th>Date</th>
          <th>Activité</th>
          <th>Statut</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr class="fs-6">
            <td><%= booking.id %></td>
            <td>
              <img src="<%= booking.celebrity.images %>" class="rounded-circle"
                   style="width: 64px; height: 64px; object-fit: cover;" alt="Avatar">
            </td>
            <td><%= booking.celebrity.name %></td>
            <td><%= booking.date_start %> - <%= booking.date_end %></td>
            <td><%= booking.activity %></td>
            <td>
              <span class="badge
                  <%= case booking.status
                      when 'pending' then 'text-white' # Ajout de couleur personnalisée pour "Pending"
                      when 'refused' then 'bg-danger'
                      else 'bg-success' # Par défaut, "Success"
                      end %>"
                    style="<%= booking.status == 'pending' ? 'background-color: #1230AE;' : '' %>">
                <%= booking.status.capitalize %>
              </span>
            </td>
            <td><%= number_to_currency(booking.total_price, unit: "€") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
